<p>orders works!</p>
<!--
<p-panel header="Orders List" *ngIf="orders">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>First Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Tel</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td><input pInputText type="text" disabled name="id" value={{order.id}} [(ngModel)]="order.id"></td>
                <td><input pInputText type="text" name="name" value={{order.name}} [(ngModel)]="order.name"></td>
                <td><input pInputText type="text" name="firstName" value={{order.firstName}} [(ngModel)]="order.firstName"></td>
                <td><input pInputText type="text" name="address" value={{order.address}} [(ngModel)]="order.address"></td>
                <td><input pInputText type="text" name="email" value={{order.email}} [(ngModel)]="order.email"></td>
                <td><input pInputText type="text" name="tel" value={{order.tel}} [(ngModel)]="order.tel"></td>
                <td><p-button label="Save" styleClass="ui-button-success" (click)="updateOrder(order)"></p-button><td>
                <td><p-button label="Delete" styleClass="ui-button-danger" (click)="deleteOrder(order)"></p-button><td>
            </tr>
        </tbody>
    </table>
</p-panel>
<p-panel header="Delete Order" *ngIf="orders">
    <table>
        <tbody>
            <td><input pInputText type="text" disabled name="id" [(ngModel)]="id"></td>
            <td><input pInputText type="text" name="name" [(ngModel)]="name"></td>
            <td><input pInputText type="text" name="firstName" [(ngModel)]="firstName"></td>
            <td><input pInputText type="text" name="address" [(ngModel)]="address"></td>
            <td><input pInputText type="text" name="email" [(ngModel)]="email"></td>
            <td><input pInputText type="text" name="tel" [(ngModel)]="tel"></td>
            <td><p-button label="Create" (click)="createOrder(name, firstName, address, email, tel)"></p-button><td>
        </tbody>
    </table>
</p-panel>
<p-message *ngIf="errorMessage" severity="error" text="{{errorMessage}}"></p-message>  
<p-message *ngIf="successMessage" severity="success" text="{{successMessage}}"></p-message>
-->