<p-panel header="Product List" *ngIf="products">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td><input type="text" name="product-id" value={{product.id}}></td>
                <td><input type="text" name="product-number" value={{product.number}}></td>
                <td><input type="text" name="product-name" value={{product.name}}></td>
                <td><input type="text" name="product-description" value={{product.description}}></td>
                <td><input type="text" name="product-location" value={{product.location}}></td>
                <td><input type="text" name="product-price" value={{product.price}}></td>
                <td><button (click)="updateProduct(product)">Save</button></td>
+               <td><button (click)="deleteProduct(product)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <!--
    <p>Create a new food: <input type="text" name="food_name" [(ngModel)]="food_name"><button (click)="createFood(food_name)">Save</button></p>
    <table>
        <tbody>
            <td><input type="text" name="product-number" [(ngModel)]="product-number"></td>
            <td><input type="text" name="product-name" [(ngModel)]="product-name"></td>
            <td><input type="text" name="product-description" [(ngModel)]="product-description"></td>
            <td><input type="text" name="product-location" [(ngModel)]="product-location"></td>
            <td><input type="text" name="product-price" [(ngModel)]="product-price"></td>
            <td><button (click)="createProduct(product-number, product-name, product-description, product-location, product-price)">Create</button></td>
        </tbody>
    </table>
    -->
</p-panel>